@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "CHAP2 - Confirm email";
    ViewData["Subtitle"] = "";
}

<p>@ViewBag.Message</p>
<div class="login-links">
    <a asp-action="Login">Sign in</a>
</div>
